{% extends 'macros/base_ajax3.html.twig' %}
{% block body %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ form_start(edit_form) }}
        {{ app_macros.app_style_form(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Actualizar
            </button>
        </p>
        {{ form_end(edit_form) }}
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path(routes.index) }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Volver al Listado
            </a>
            <a class="btn btn-info" href="{{ path(routes.new) }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Nuevo
            </a>
        </div>
    </div>
    <script>
        setTimeout(function() {
            console.log('time');
            $("select").select2();
        }, 1000);
    </script>
{% endblock %}

