<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{ system-name }}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="{{ asset('bundles/app/assets/img/favicon.ico') }}" rel="shortcut icon">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{{ asset('bundles/app/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/plugins/font-awesome/5.0/css/fontawesome-all.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/plugins/ionicons/css/ionicons.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/plugins/animate/animate.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/css/animate.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/css/style.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/css/style-responsive.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/assets/css/theme/default.css') }}" rel="stylesheet" id="theme" />
	<link href="{{ asset('bundles/app/assets/css/develcss.css') }}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ asset('bundles/app/assets/plugins/pace/pace.min.js') }}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
	<!-- begin error -->
	<div class="welcome">
        {% block body %}
        {% endblock %}
	</div>
	<!-- end error -->

	<!-- begin theme-panel -->

	<!-- end theme-panel -->

	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/app/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/app/assets/validation/jquery.validate.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/localization/messages_es.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/assets/js/apps.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    var sUrlDatatable =  "{{ asset('bundles/app/assets/js/datatables-lang-es.json') }}";
	$(document).ready(function() {
		App.init();
	});
</script>
</body>
</html>
