<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/app/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/assets/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/morris/morris.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/dashboard-v2.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/apps.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/assets/appjs/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/appjs/devcrud.js') }}"></script>
<script src="{{ asset('bundles/app/assets/appjs/select2.full.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/intro-js/intro.js') }}"></script>
<!-- <script src="{{ asset('bundles/app/assets/validation/jquery.validate.js') }}"></script> -->
{% block javascripts %}
{% endblock %}
</body>
</html>