<!-- begin #header -->
<div id="header" class="header navbar navbar-inverse navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <h2 style="color: white; font-family: Helvetica;">
                <div class="icon">
                    <img src="{{ asset('bundles/app/assets/images/logo3f.png') }}" > <!--<i class="fa fa-sign-in"></i> -->
                </div>
            </h2>
        </div>

        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form full-width">
                    <a id="intro0" style="" class="btn btn-circle btn-inverse" href="javascript:void(0);" onclick="javascript:startIntro(0);"><i class="fa fa-question-circle"></i></a>
                </form>
            </li>
            <li class="dropdown navbar-user">
                <a style="color: white" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">{% if app.user.firstName is not null %}{{ app.user.firstName }} {{ app.user.lastName }}{% endif %}</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li><a href="javascript:;" onclick="javascript:cambiarpass({{ app.user.id }})"> <i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Salir</a></li>
                </ul>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->