{% macro app_style_input(input, val) %}
     {% if val == 1 %}
        <div class="col-md-12">
    {% elseif val is divisible by(4) %}
        </div>
<div class="col-md-12"><br></div>

        <div class="col-md-12">
    {% endif %}
    <div class="col-md-3 form-group {% if input.vars.errors is not empty  %}has-error{% endif %}">
        {% set strLabel = form_label(input)|split('>') %}
        {% if strLabel[1] != 'Token</label' %}
            <label for="inputHelpBlock">{{ form_label(input) }}
                {% for error in input.vars.errors %}
                    :  <span class="text-danger">  {{ error.message }}</span>
                {% endfor %}
            </label><br>
        {% endif %}


        {{ form_widget(input, { 'attr': {'class':  'form-control'} }) }}
        {% for error in input.vars.errors %}
            <p class="help-block">
                <span class="text-error">{{ error.message }}</span>
            </p>
        {% endfor %}
    </div><div class="col-md-1"></div>
{% endmacro %}

{% macro app_style_form(form) %}
    {% import _self as app %}
    {% for input in form %}
        {% if input.getIterator() | length() == 0 %}
            {{ app.app_style_input(input,loop.index) }}
        {% else %}
            {% for inputIterator in input %}
                {{ app.app_style_input(inputIterator) }}
            {% endfor %}
        {% endif %}
        {# If is the last input add the form_rest #}
        {% if loop.last %}
        </div>
<div class="col-md-12"><hr></div>

        {% endif %}
    {% endfor %}
{% endmacro %}
