<tr>
    <td>{{ detail.linea }}</td>
    <td>{{ detail.codprod }}</td>
    <td>
        {{ detail.detProd }}
        <br>
        {% if detail.nsValueControl is not null %}
            {% if detail.percentageControl == 100 %}
                Recepción: <strong>Completa.</strong>
            {% else %}
                Recepción: <strong>Parcial.</strong>
            {% endif %}
        {% else %}
            Recepción: Pendiente
        {% endif %}
        <br>
        {% if detail.nsValueComplaint is not null %}
            Reclamo: Ingresado.
        {% else %}
            Reclamo: <strong>Sin reclamo.</strong>
        {% endif %}
    </td>
    <td>{{ detail.cantFacturada }}</td>
    <td>{{ detail.status }}</td>
    <td>
        <div class="form-group">
            {% if detail.nsValueControl is  null %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a style="color: black" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-lg fa-fw m-r-10 fa-ellipsis-v"></i>
                            <span> </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li>
                                <a id="filterDiv{{ detail.id }}" onclick="javascript:newaction(this, 'reception')" data-id="{{ detail.id }}" class="btn btn-primary" data-toggle="collapse" data-target="#filterss{{ detail.id }}">
                                    Recepción
                                    <span class="caret"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a style="color: black" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-lg fa-fw m-r-10 fa-ellipsis-v"></i>
                            <span> </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li>
                                <a id="filterDiv{{ detail.id }}" onclick="javascript:showaction(this, 'reception')" data-id="{{ detail.id }}" class="btn btn-info" data-toggle="collapse" data-target="#filterss{{ detail.id }}">
                                    Ver Recepción
                                </a>
                            </li>
                            <li class="arrow"></li>
                            {% if detail.nsValueComplaint is null %}
                                <li>
                                    <a id="filterDiv{{ detail.id }}" onclick="javascript:newaction(this, 'complaint')" data-id="{{ detail.id }}" class="btn btn-primary" data-toggle="collapse" data-target="#filterss{{ detail.id }}">
                                        Reclamo
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a id="filterDiv{{ detail.id }}" onclick="javascript:showaction(this, 'complaint')" data-id="{{ detail.id }}" class="btn btn-info" data-toggle="collapse" data-target="#filterss{{ detail.id }}">
                                        Ver Reclamo
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% endif %}

        </div>

    </td>

</tr>
<tr>
    <td colspan="6">
        <div  id="filterss{{ detail.id }}" class="collapse">
        </div>
    </td>
</tr>