<div class="row">
    <div class="col-md-6">
        <p><strong>{{ 'folio'|trans }}</strong></p>
        <p>
            {{ entity.folio }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>{{ 'fecha'|trans }}</strong></p>
        <p>
            {% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>{{ 'codAux'|trans }}</strong></p>
        <p>
            {{ entity.codAux }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>{{ 'status'|trans }}</strong></p>
        <p>
            {{ entity.status }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>{{ 'client'|trans }}</strong></p>
        <p>
            {{ entity.client }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>{{ 'dispatch'|trans }}</strong></p>
        <p>
            {{ entity.dispatch }}
        </p>
    </div>

</div>