<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{{ company_fullname }}</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="{{ asset('bundles/app/assets/img/favicon.ico') }}" rel="shortcut icon">
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="{{ asset('bundles/app/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/css/animate.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/css/style.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/css/style-responsive.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/css/theme/default.css') }}" rel="stylesheet" id="theme" />
        <link href="{{ asset('bundles/app/assets/plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" id="theme" />
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
        <link href="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/morris/morris.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/assets/css/select2.css') }}" rel="stylesheet" />
        <!-- ================== END PAGE LEVEL CSS STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="{{ asset('bundles/app/assets/plugins/pace/pace.min.js') }}"></script>
        <!-- ================== END BASE JS ================== -->
        <!-- ================== BEGIN PAGE CSS STYLE ================== -->
        <link href="{{ asset('bundles/app/assets/plugins/intro-js/introjs.css') }}" rel="stylesheet" />
        <!-- ================== END PAGE CSS STYLE ================== -->

        <!--<style>
            table.table tr th{background-color:darkgrey !important;}
        </style>-->
        {% block stylesheets %}

        {% endblock %}
        <style>
            #WindowLoad
            {
                position:fixed;
                top:0px;
                left:0px;
                z-index:3200;
                filter:alpha(opacity=65);
                -moz-opacity:65;
                opacity:0.65;
                background:#999;
            }

            .modal-dialog{
                width:90%;
            }

            .modal-dialog .smallWidth {
                margin: 0 auto;
                width: 50%;
            }

        </style>
    </head>
<!-- <body class="bg-silver-lighter"> -->
    <body >
        <div id="WindowLoad"></div>
        <!-- begin #page-loader -->
        <div id="page-loader" class="fade in"><span class="spinner"></span></div>
        <!-- end #page-loader -->
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">


        {%  block blade %}
        {% endblock %}
        </div>

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/app/assets/crossbrowserjs/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/crossbrowserjs/respond.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/crossbrowserjs/excanvas.min.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('bundles/app/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="{{ asset('bundles/app/assets/plugins/morris/raphael.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/morris/morris.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/dashboard-v2.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/apps.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/dashboard.js') }}"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->
        <script src="{{ asset('bundles/app/assets/appjs/bootbox.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/appjs/devcrud.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/appjs/select2.full.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/intro-js/intro.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/validation/jquery.validate.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/plugins/localization/messages_es.js') }}"></script>
        <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/appjs/devcrud.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
        <script>
            var sUrlDatatable =  "{{ asset('bundles/app/assets/js/datatables-lang-es.json') }}";
            jQuery.validator.setDefaults({
                debug: true,
                message: "{{ asset('bundles/app/assets/plugins/localization/messages_es.js') }}"
            });
            $(document).ready(function() {
                {% block documentready %}
                {% endblock %}
                App.init();
                window.addEventListener('keydown', function(e) {
                    if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                        if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                            e.preventDefault();
                            return false;
                        }
                    }
                }, true);

                var pageName = (function () {
                    var a = window.location.href,
                        b = a.split("/");
                    return b[b.length-2];
                }());

            });

            function cambiarpass(id){

                var path = "{{ path('change_password_app', { 'id': 'idElemento' }) }}";
                path = path.replace('idElemento', id);
                var entityName = "Contraseña";
                $.ajax({
                    type: 'GET',
                    async: true,
                    url: path,
                    success: function (results) {
                        var options = {
                            title: "Cambiar " + entityName
                            , message: results
                            , form: "#the-form"
                            , messageSuccess: "Agregado Correctamente"
                        };
                        generateBootboxPass(options, id);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });


            };

            function generateBootboxPass(options, id) {
                if ( !(options.hasOwnProperty('title')) ) {
                    title = "Alert! Debes agregar el title";
                } else {
                    title = options.title;
                }

                if ( !(options.hasOwnProperty('message')) ) {
                    message = "Alert! Debes agregar el message";
                } else {
                    message = options.message;
                }

                if ( !(options.hasOwnProperty('form')) ) {
                    form = "Alert! Debes agregar el form";
                } else {
                    form = options.form;
                }

                if ( !(options.hasOwnProperty('messageSuccess')) ) {
                    messageSuccess = "Alert! Debes agregar el messageSuccess";
                } else {
                    messageSuccess = options.messageSuccess;
                }

                bootbox.dialog({
                    message: message,
                    buttons: {
                        success: {
                            label: "<i class='fa fa-reply'></i> Volver",
                            className: "btn-default",
                            callback: function() {
                            }
                        },
                        submit: {
                            label: "<i class='fa fa-floppy-o'></i> Guardar",
                            className: "btn-primary",
                            callback: function() {
                                var formData = $(form).serializeArray();
                                var path     = $(form).prop("action");
                                $.ajax({
                                    type: "POST",
                                    async: true,
                                    data: formData,
                                    url: path,
                                    success: function(results) {
                                        if (results == "success") {
                                            bootbox.alert(messageSuccess, function() {
                                                //loadTable();
                                                //document.location.reload(true)
                                            });
                                        }else{
                                            var options = {
                                                title:           title
                                                ,message:        results
                                                ,form:           form
                                                ,messageSuccess: messageSuccess
                                            };
                                            generateBootboxPass(options);
                                        }
                                    },
                                    error: function(e){
                                        console.log(e);
                                    }
                                });
                            }
                        }
                    }
                });
                $('.bootbox-close-button').hide();
                $('.modal-body').css('padding',0);
                $('.panel').css('margin-bottom',0);
            }

        </script>
    </body>
</html>
